#root {
    margin: auto;
    padding: 5rem;
    max-width: $width;
}

input {
    box-shadow: 0 .4rem 1rem rgba($black, .5);
    border: none;
    height: 3.5rem;
    padding: 2rem 2.5rem;
}

.bg-asset {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}

main, div {
    position: relative;
}